@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Saira', sans-serif;
  background-color: #181818;
  overflow-x: hidden;
}

.primary-color {
  color: #159e53;
}

.primary-bg-color {
  background-color: #159e53;
}

.primary-border-color {
  border-left: #159e53 5px solid;
}


/* for custom button */
.custom-button {
  transform: translate(-0%, -0%);
  background: #242424;
  text-align: center;
  transition: 0.5;
  overflow: hidden;
}

.custom-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
  transition: 1s;
  border-style: solid;
  border-color: #159e53;
  border-width: 100px 150px;
  transform: rotate(360deg);
  transform-origin: top left
}

.custom-button:hover:before {
  transform: rotate(40deg);
  border-width: 47px 150px;
}

.custom-button:hover {
  transition: 0.5s;
  transition-delay: 0.3s;
}


/* for portfolio animation */
.box:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  /* box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2); */
}
.box::before {
  /* content: ''; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  left: -100%;
  transition: 0.5s;
}
.box:hover::before {
  left: 100%;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #159e53;
  border-radius: 25px;
}

.active{
  color: #159e53;
  font-weight: bold;
}

.shadow{
  box-shadow: #0a0a0a 0px 2px 4px 0px, #0a0a0a 0px 2px 16px 0px;
}
:hover.shadow2{
  box-shadow: #0a0a0a 0px 2px 4px 0px, #0a0a0a 0px 2px 16px 0px;
}
.custom-space{
  right: -1000px;
}